<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="common/head :: head"></th:block>
<body>
<th:block th:replace="common/header :: header"></th:block>
<br>
<br>
<br>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card adminpage pt-1 ">
                    <div class="card-body">
                        <h5 class="card-title" style="color: white">LIST USER MANAGEMENT</h5>
                        <input type="text" id="myInput" class="form-control" style="width: 300px;"
                               onkeyup="myFunction()"
                               placeholder="Search for usernames.." title="Type in a name">
                        <!--<div class="card mt-2" style="background-color: #1c1c1c24;">-->
                        <table class="table table-hover scrollbar-card-body mt-2" id="myTable">
                            <thead>
                            <th>User</th>
                            <th>Email</th>
                            <th>Active</th>
                            <th>Role</th>
                            <th></th>

                            </thead>

                            <tr th:each="dsUser : ${dsUser}" th:data-id="${dsUser.userId}" th:object="${dsUser}"
                                th:classappend="${dsUser.userId} ? (table- + ${dsUser.userId}) : ''">
                                <td th:text="${dsUser.userName}"></td>
                                <td th:text="${dsUser.email}"></td>
                                <td>
                                    <input class="activeUser" type="checkbox" th:checked="${dsUser.enabled}"/>
                                </td>
                                <td><select id="idselect" class="form-control">
                                    <option th:each="role : ${dsRole}"
                                            th:value="${role.role}" th:text="${#strings.substring(role.role,5)}"
                                            th:selected="${#lists.contains(dsUser.roles,role.roleId)}"></option>

                                </select></td>
                                <td>
                                    <button type="button" class="btn btn-danger call-del"
                                            href="">Delete
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="background: red">
                            <h4 class="modal-title">Are You Sure?</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">
                            <p>Are you sure that you want to perform this action?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                            <button class="xoa-user btn btn-danger" data-id="0" type="submit">Confim</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>

<!-- Footer -->
<th:block th:replace="common/footer :: footer"></th:block>
<!-- Footer -->
<script type="text/javascript" th:src="@{/js/jsadmin.js}"></script>

</body>
</html>
