
body {
    /*background-image: url(https://www.bing.com/th?id=OHR.FortRockHomestead_ROW4897942024_1920x1080.jpg&amp;rf=LaDigue_1920x1080.jpg&amp;pid=hp);*/
    /*background-image: url(https://www.bing.com/th?id=OHR.NaranjoBulnes_ROW4819283992_1920x1080.jpg&amp;rf=LaDigue_1920x1080.jpg&amp;pid=hp);*/
    background-image: url(https://www.bing.com/th?id=OHR.CharlesNight_ROW5031030698_1920x1080.jpg&amp;rf=LaDigue_1920x1080.jpg&amp;pid=hp);
    /*background-image: url(https://www.bing.com/th?id=OHR.EidolonHelvum_ROW4957124495_1920x1080.jpg&amp;rf=LaDigue_1920x1080.jpg&amp;pid=hp);*/
}

.form-control {
    min-height: 37px;
    background: #f2f2f2;
    box-shadow: none !important;
    border: transparent;
}

.form-control:focus {
    background: #e2e2e2;
}

.form-control, .btn {
    border-radius: 26px;
}

.login-form {

    width: 350px;
    margin: 30px auto;
    text-align: center;
}

.login-form h2 {
    margin: 10px 0 25px;
}

.login-form form {
    color: #7a7a7a;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: #3598dc;
    border: none;
    outline: none !important;
}

.login-form .btn:hover, .login-form .btn:focus {
    background: #2389cd;
}

.login-form a {
    color: #fff;
    text-decoration: underline;
}

.login-form a:hover {
    text-decoration: none;
}

.login-form form a {
    color: #7a7a7a;
    text-decoration: none;
}

.login-form form a:hover {
    text-decoration: underline;
}

.title-reset {
    background-color: #337ab7;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 340px;

}

.input-text {
    display: inline-block;
    width: 450px;
    vertical-align: middle;
    min-height: 40px;
    background: #f2f2f2;
    box-shadow: none !important;
    border: transparent;
    border-radius: 26px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: 0;
    color: #495057;
    transition: border-color .15s ease-in-out, box-shadow .15s;
    margin-left: 36px;
}

.title-reset p {
    color: white;
}

.spacer {
    /*width: auto;*/
    /*height: 150px;*/
    border-style: double;
    /*color: white;*/

}

.weather-search-container {

}

.weather-container, .weather-main-top {
    display: flex;
    cursor: pointer;
}

.weather-icon {
    margin: 0 25px 0 10px;
}

.weather-place {
    margin: 0px 25px 0 10px;
}

.weather-country {
    font-size: 12px;
    font-weight: 600;
    width: 75px;
}

.weather-time {
    color: gray;
    font-size: 14px;
}

.weather-main {
    margin-left: 15px;
}

.weather-main-top {
    overflow: hidden;
    margin-top: -4px;
}

.weather-main-temp {
    margin-top: 6px;
    line-height: 16px;
}

.weather-main-description {
    margin-top: 4px;
    margin-left: 7px;
}

.weather-main-detail {
    font-size: 14px;
}

.weather-action {
    margin: 5px 18px 0 50px;
}

.weather-item {
    margin: -16px 0 -16px 0;
    overflow: hidden;
}

.weather-main-item {
    margin-top: 0px;
    overflow: hidden;
}

.weather-main {
    width: 264px;
}

.weather-button-action {
    font-weight: 500;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-radius: 24px;
}

.card {
    margin-bottom: 5px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #9bacdf;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 24px;
!important;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .card {
        margin-bottom: 16px;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #ffffff4a;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 24px;
    !important;
    }
}

@media (min-width: 200px) and (max-width: 500px) {
    .card {
        font-size: 10px;
        margin-bottom: 16px;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }
}

@media (max-width: 320px ) {
    .card {
        margin-bottom: 16px;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }
}

@media (min-width: 375px) and (max-width: 667px) {
    .card {
        margin-bottom: 16px;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }
}

@media (min-width: 162px) and (max-width: 220px) {
    .card {
        margin-bottom: 16px;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        font-size: 13px;
        border-radius: 24px;
    }
}

@media (min-width: 375px) and (max-width: 667px) {
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        font-size: 13px;
    }
}

@media (max-width: 320px) {
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        font-size: 13px;
    }
}

@media (min-width: 1025px) {
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 20px;
        font-size: 15px;
        border-radius: 24px
    }
}

@media (min-width: 1025px) {
    .table {
        /*max-width: 750px;*/
        margin: auto;
        color: white;
    }
}

@media (max-width: 320px) {
    .table {
        color: white;
    }
}

@media (min-width: 400px) and (max-width: 1023px) {
    .table {
        color: black;
    }
}

@media (max-width: 480px) {
    .table {
        color: black;
    }
}

@media (max-width: 667px) {
    .weather-container {
        font-size: 10px;
    }
}

.weather-country {
    font-size: 14px;
}

.weather-time {
    font-size: 12px;
}

.collapse:not(.show) {
    display: none;
}

.collapse {
    display: none;
}

.collapse.show {
    display: block;
}

.list {
    width: 900px;
    min-height: 500px;
    background: #5f6eb0a1;
    border-radius: 24px;
}

.head-showmore {
    height: 30px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    border-radius: 24px;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.form-control {
    vertical-align: middle;
}

.search {
    vertical-align: middle;

}

.navbar-right {
    /*margin-left: 830px;*/

}

/*SCOLL WED */
.scrollbar-card-body {
    margin: auto;
    overflow: hidden;
    scroll-behavior: smooth;
}

.scrollbar-card-body {
    transform: translateX(3px);
    overflow-y: scroll;
    box-sizing: content-box;
}

.scrollbar-card-body::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

/* con chay chay tren trang*/
.scrollbar-card-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #000000;
}

.scrollbar-card-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.example-1 {

    position: relative;
    height: 415px;
    overflow: auto;
}

.adminpage {
    min-height: 500px;
    border-radius: 24px;
    background: #5f6eb0a1;
    padding-top: 10px;
}

.Search {
    width: 480px;
    height: 37px;
!important;
    background: #f2f2f2;
    box-shadow: none !important;
    border: transparent;
    border-radius: 2px;
}

/* Styles for wrapping the search box */

.main {
    width: 50%;
    margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.validation-message {
    color: red;
}

.update {
    background-color: #ffffff24;
    width: 1000px;
    float: left;
}

.button {
    background-color: white; /* Green */
    border-radius: 24px;
    color: #1d2124;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*/ iPads Pro(portrait) ----------- /*/
/*@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {*/
/*.search_form {*/
/*margin-top: 8px;*/
/*margin-left: -5px;*/
/*width: 215px;*/
/*}*/

/*.icon_rps {*/
/*width: 20px*/
/*}*/

/*.city_rps {*/
/*width: 150px*/
/*}*/

/*.temp_rps {*/
/*width: 250px;*/
/*}*/

/*.badge {*/
/*padding: 4px 18px;*/
/*margin-bottom: 7px;*/
/*font-size: 15px;*/
/*}*/

/*.general_rps {*/
/*margin-left: 2px;*/
/*}*/

/*#descript_rps {*/
/*margin-left: 5px;*/
/*}*/
/*}*/

/*!************************************************************************************************************************!*/
/*/ Tablet /*/
/*@media only screen and (min-width: 768px) and (max-width: 979px) {*/
/*/ Styles /*/
/*}*/

/*/ Computer /*/
/*@media only screen and (min-width: 980px) {*/
/*a, button, input[type=submit], input[type=button], .product-img {*/
/*-webkit-transition: .5s;*/
/*-moz-transition: .5s;*/
/*-ms-transition: .5s;*/
/*-o-transition: .5s;*/
/*transition: .5s;*/
/*}*/

/*.ch-container {*/
/*padding: 0 20px;*/
/*}*/
/*}*/

/*/ Smartphones (portrait and landscape) ----------- /*/
/*@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {*/
/*/ Styles /*/
/*}*/

/*/ Smartphones (landscape) ----------- /*/
/*@media only screen and (min-width: 321px) {*/
/*/ Styles /*/
/*}*/

/*/ Smartphones (portrait) ----------- /*/
/*@media only screen and (max-width: 320px) {*/
/*/ Styles /*/
/*}*/

/*/ Ipad3 /*/
/*@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {*/
/*/ Styles /*/
/*}*/

/*@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {*/
/*/ Styles /*/
/*}*/

/*/ Desktops and laptops ----------- /*/
/*@media only screen  and (min-width: 1224px) {*/
/*/ Styles /*/
/*}*/

/*/ Large screens ----------- /*/
/*@media only screen  and (min-width: 1824px) {*/
/*/ Styles /*/
/*}*/

/*/ iPhone 4 ----------- /*/
/*@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {*/
/*/ Styles /*/
/*}*/

/*@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {*/
/*/ Styles /*/
/*}*/

/*/ iPhone 6, 7, 8 ----------- /*/
/*@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {*/
/*/ Styles /*/
/*}*/

/*/ iPhone 6+, 7+, 8+ ----------- /*/
/*@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {*/
/*/ Styles /*/
/*}*/

/*@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {*/
/*search_form {*/
/*margin-top: 8px;*/
/*margin-left: -5px;*/
/*width: 265px;*/
/*}*/

/*.icon_rps {*/
/*padding: 0px 0px 0px 10px;*/
/*}*/

/*.city_rps {*/
/*width: 127px*/
/*}*/

/*.temp_rps {*/
/*width: 112px;*/
/*}*/

/*.badge {*/
/*padding: 4px 18px;*/
/*margin-bottom: 7px;*/
/*font-size: 15px;*/
/*}*/

/*.general_rps {*/
/*margin-top: 8px;*/
/*margin-left: -80px;*/
/*}*/

/*#descript_rps {*/
/*margin-left: 5px;*/
/*}*/
/*}*/

/* iPhone X ----------- /
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
/ Styles /
}

/ iPhone XS Max, XR ----------- /
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
/ Styles /
}

/ Samsung Galaxy S3 ----------- /
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
/ Styles /
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
/ Styles /
}

/ Samsung Galaxy S4 ----------- /
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
/ Styles /
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
/ Styles /
}

/ Samsung Galaxy S5 ----------- /
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
/ Styles /
}*/
